   
  <!-- START: ID=IM03-v4.2 Vertical Pairs -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <th width="305" class="full-width-block" align="center" valign="top">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="auto">
        <tr>
          <td align="center" valign="top" style="padding: 15px 0 0;">
            <img src="https://mailing.design/amex/PP-Preventa-F1-San-Pablo-PLAT/images/101125-PP-Preventa-F1-San-Pablo-PLAT_09.jpg" alt="*" width="44" style="height: auto;display: block;color: #3D3D3D;" >
          </td>
        </tr>
        <tr>
          <td width="100%" style="padding: 0px 0px 0px;" align="center" valign="top">
            <table role="none" cellpadding="0" cellspacing="0" border="0" width="auto">
                <tr>
                    <td valign="top" class="height-auto" height="51" align="center" style="height:51px;padding:24px 0 0;color: #00175A;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size:22px;line-height: 25px;">
                      <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">Preventa exclusiva <br> de tickets</strong><span style="font-size: 9px;line-height: 8px;vertical-align: 9px">2</span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="height-auto" height="104" align="center" style="height:104px;padding:15px 0 0;color: #333333;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size:16px;line-height: 21px;">
                      Disfrut&aacute; de acceso preferencial en <br> la compra de carreras seleccionadas 
                    </td>
                </tr>
                <tr>
                    <td class="pdtop20" align="center" style="padding:0px 0 18px;color: #00175a;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size:18px;line-height: 21px;">
                        <a href="https://www.americanexpress.com/en-us/benefits/membership/experiences/formula-1/" class="link" target="_blank" style="color: #00175a; font-weight: normal; font-size: 15px; line-height: 22px;display: block; padding: 0;"><strong style="font-weight: bold;text-decoration: underline;color:#00175a;">Conoc&eacute; m&aacute;s</strong></a>
                    </td>
                </tr>
                
            </table>
          </td>
        </tr>
      </table>
    </th>
    <th class="full-width-block Separator" width="10" height="10" style="width: 10px;height: 10px;background:#FFFFFF;border-right:1px solid #00175A;">&nbsp;</th>
    <th width="305" class="full-width-block" align="center" valign="top">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="auto">
        <tr>
          <td align="center" valign="top" style="padding: 15px 0 0;">
            <img src="https://mailing.design/amex/PP-Preventa-F1-San-Pablo-PLAT/images/101125-PP-Preventa-F1-San-Pablo-PLAT_10.jpg" alt="*" width="44" style="height: auto;display: block;color: #3D3D3D;" class="full-width--">
          </td>
        </tr>
        <tr>
          <td width="100%" style="padding: 0px 0px 0px;" align="center" valign="top">
            <table role="none" cellpadding="0" cellspacing="0" border="0" width="auto">
                <tr>
                    <td valign="top" class="height-auto" height="25" align="center" style="height:25px;padding:24px 0 0;color: #00175A;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size:22px;line-height: 25px;">
                      <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">Beneficios Amex en <br> carreras seleccionadas</strong><span style="font-size: 9px;line-height: 8px;vertical-align: 9px">3</span>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="height-auto" height="104" align="center" style="height:104px;padding:15px 0 0;color: #333333;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size:16px;line-height: 21px;">
                        
                        Viv&iacute; una experiencia inolvidable <br> con beneficios exclusivos, trivias, <br> premios y mucho m&aacute;s.
                      
                    </td>
                </tr>
                <tr>
                    <td class="pdtop20" align="center" style="padding: 0px 0 18px;color: #00175a;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size:18px;line-height: 21px;">
                        <a href="https://www.americanexpress.com/en-us/benefits/membership/experiences/formula-1/" class="link" target="_blank" style="color: #00175a; font-weight: normal; font-size: 15px; line-height: 22px;display: block; padding: 0;"><strong style="font-weight: bold;text-decoration: underline;color:#00175a;">Conoc&eacute; m&aacute;s</strong></a>
                    </td>
                </tr>
                
            </table>
          </td>
        </tr>
      </table>
    </th>
  </tr>
</table>
<!-- END: IM03-v4.2 Vertical Pairs -->
              
              
               