<!-- START: ID=HB08-v4.2 50-50 -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%" dir="rtl" style="direction: rtl; width: 100%;">
  <tr>
    <th class="full-width-block" width="50%" style="direction: ltr; width: 50%;" align="center" valign="middle">
      
        <span class="hideMbl">
          <img class="full-width-block" src="https://mailing.design/amex/PP-Dining-Ultramarino-Nov25-PLAT/images/3110-PP-Dining-Ultramarino-Nov25-PLAT_09.jpg" alt="Bodega Sottano" width="100%" style="vertical-align: top; height: auto; color: #333333" />
        </span>
        <span class="showMbl" style="display: none;padding: 30px 0 50px;">
          <img src="https://mailing.design/amex/PP-Dining-Ultramarino-Nov25-PLAT/images/3110-PP-Dining-Ultramarino-Nov25-PLAT_09mbl.jpg" alt="Bodega Sottano" width="60%" style="vertical-align: top; height: auto; color: #333333" />
        </span>
        
        
    </th>
    <th class="full-width-auto pd40" width="50%" style="direction: ltr; padding: 0px; width: 50%;background: #ecedee;font-weight: normal;" align="center" valign="middle">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
        
          <tr>
                <td width="100%" align="center" style="padding:0px 0px 0;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 15px;line-height: 18px;color:#00175a;letter-spacing: 0px;">
                    <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;"> Del 1 al 30 de noviembre </strong>
                </td>
            </tr>
            <tr>
                <td  align="center" valign="top" style="padding: 14px 0 0px;">
                    <img src="https://mailing.design/amex/PP-Dining-Ultramarino-Nov25-PLAT/images/3110-PP-Dining-Ultramarino-Nov25-PLAT_08.jpg" alt="40% OFF" style="-ms-interpolation-mode: bicubic; border: 0 none; display: block; height: auto; line-height: 100%; outline: none; text-decoration: none; width: 143px;margin-top:0px;" width="143" height="57">
                </td>
            </tr>    
            <tr>
					<td align="center" class="pdtop7" width="144" style="color: #00175a; cursor: auto; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size: 16px; line-height:19px;padding:5px 0 0;letter-spacing: 0px;">
                        sin tope y en el acto 
                    </td>
				</tr>
                <tr>
                    <td align="center" valign="top" style="color: #333333; cursor: auto; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size: 15px; line-height:18px;padding:3px 0 0;letter-spacing: 0px;">
                        en la <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;color: #00175a;">Bodega Sottano</strong><span style="font-size:8px;line-height:8px;vertical-align:8px;font-weight: normal;">2</span>
                    </td>
                </tr>
                
            <tr>
              <td align="center" style="padding-top: 30px;">
                <!-- START: PRIMARY BUTTON - BLUE -->
                <table role="none" cellpadding="0" cellspacing="0" border="0" width="144" height="40" style="width:144px;height:40px;border-radius: 3px;background:#ecedee;" class="button-primary-light">
                  <tr>
                    <td align="center" valign="middle">
                      <table role="none" cellpadding="0" cellspacing="0" border="0" style="border-radius: 3px; border: 2px solid #00175a;mso-border-alt: 1px solid #00175a;width:140px;height:36px">
                        <tr>
                          <td align="center" valign="middle" height="36">
                            <a href="mailto:pedidos@bodegasottano.com?subject=40%25%20OFF%20AMERICAN%20EXPRESS%20THE%20PLATINUM%20CARD" target="_blank" aria-label="Compr&aacute; ahora" style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;display: inline-block; padding: 8px 0; text-decoration: none;border:none;outline:0;width: 140px; font-size: 17px; line-height: 22px;color:#00175a;">Compr&aacute; ahora</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <!-- END: PRIMARY BUTTON - BLUE -->
              </td>
            </tr>
            
      </table>
      
    </th>
    
  </tr>
</table>
<!-- END: HB08-v4.2  50-50 -->
              
    