 <!-- START: HB15-v4.2 Full Width Hero -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
  <!-- Hero Banner Top Image -->
  <tr>
    <td>
  
        <span class="mobile-off">
          <img src="https://mailing.design/amex/MR-Especial-bebidas-DIC25/images/021225-MR-Especial-bebidas-DIC25_03.jpg" alt="Un motivo m&aacute;s para celebrar." width="100%" style="vertical-align: top; height:auto; color: #333333;">
        </span>
        <span class="mobile-on" style="display: none;">
          <img src="https://mailing.design/amex/MR-Especial-bebidas-DIC25/images/021225-MR-Especial-bebidas-DIC25_03mbl.jpg" alt="Un motivo m&aacute;s para celebrar." width="100%" style="vertical-align: top; height: auto; color: #333333" />
        </span>
       
    </td>
  </tr>
  <tr>
    <td align="center" style="padding: 0px;">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
              <td width="100%" align="center" bgcolor="#006FCE" style="padding: 35px 20px;background-color: #006FCE;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 28px;line-height: 31px;color:#FFFFFF;">
				  Un motivo m&aacute;s <br class="mobile-on" style="display: none;">  para <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">celebrar.</strong>
                  
              </td>
          </tr>
          <tr>
              <td class="pdbtm0" width="100%" align="center" style="padding: 50px 20px 0px;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 18px;line-height: 23px;color:#333333;letter-spacing:0px">
				  
				  Tus bebidas favoritas disfrutalas con <span style="white-space: nowrap;">Membership Rewards<span style="font-size: 9px;line-height: 9px;vertical-align: 7px">&reg;</span>.<span style="font-size: 9px;line-height: 9px;vertical-align: 7px">1</span></span> <br class="mobile-off"> Del <strong style="color: #00175A; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif">16 al 21 de diciembre</strong> canje&aacute; los puntos <br class="mobile-off"> por estas <strong style="color: #00175A; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif">recompensas para brindar.</strong>
				       
                </td>
            </tr>	
            <tr>
                <td align="center" valign="top" style="padding:30px 0px;">
                    <table role="none" cellpadding="0" cellspacing="0" border="0" width="55" style="width: 55px;">
                        <tr>
                            <td style="padding: 0">
                                <hr class="LineaOutMbl" align="left" width="55" height="2" style="border-width: 0; background: #006FCE; color: #006FCE; height: 2px;width:55px;">
                            </td>
                        </tr>
                    </table>
                </td>    
            </tr>
            <tr>
                <td align="center" valign="top">
                    <img src="https://mailing.design/amex/MR-Especial-bebidas-DIC25/images/021225-MR-Especial-bebidas-DIC25_04.png" alt="60% OFF" width="356" style="height: auto;display: block;color: #3D3D3D;max-width:80%;">
                </td>    
            </tr>
            <tr>
              <td width="100%" align="center" style="padding: 3px 20px 50px;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 18px;line-height: 23px;color:#333333;letter-spacing:0px">
				  en bebidas seleccionadas  
                </td>
            </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END: HB15-v4.2 Full Width Hero -->
            
