 <!-- START: ID=HB16-v4.2 Image Background Split -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td style="padding-bottom: 0px;">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#53565A">
        <tr>
            <td class="full-width-block" align="right" valign="top">
                <img src="https://mailing.design/amex/PP-F1-Miami-Preventa-PLAT-oct25/images/2310-PP-F1-Miami-Presale-PLAT-oct25_04.png" alt="///" width="185" style="height: auto; color: #333333;display: block;">
            </td>    
        </tr>    
        <tr>
          <td align="center" style="padding: 0px 40px 27px;">
            <table role="none" cellpadding="0" cellspacing="0" border="0" width="540"
            style="width: 540px;" class="full-width center-text">
              <tr>
                <td>
                  <h1 style="font-family: 'BentonSans400', HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;margin: 0; font-size: 32px; line-height: 35px; color: #FFFFFF;">
                      
                       <strong style="font-family: 'BentonSans500', HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;"> La adrenalina </strong>  <br class="mobile-on" style="display: none"> te espera en Miami.
                      </h1>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
              <td width="40" valign="top" style="width: 40px;">
                  <table role="none" cellpadding="0" cellspacing="0" border="0" width="40">
                      <tr>
                          <td class="Height150" width="40" height="288" bgcolor="#53565A" style="background-color: #53565A;">&nbsp;</td>
                      </tr>
                  </table>  
              </td>
              <td width="540" valign="top">
                <a href="https://f1miamigp.com/amex/">
                <img src="https://mailing.design/amex/PP-F1-Miami-Preventa-PLAT-oct25/images/2310-PP-F1-Miami-Presale-PLAT-oct25_05.jpg" alt="La adrenalina te espera en Miami." width="540" style="display: block;height:auto;" class="full-width">
                </a>
              </td>
              <td width="40" valign="top" style="width: 40px;">
                  <table role="none" cellpadding="0" cellspacing="0" border="0" width="40">
                      <tr>
                          <td class="Height150" width="40" height="288" bgcolor="#53565A" style="background-color: #53565A;">&nbsp;</td>
                      </tr>
                  </table>  
              </td>
          </tr>
      </table>
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td align="center" style="padding: 36px 20px;">
            <table role="none" cellpadding="0" cellspacing="0" border="0" width="580" style="width:580px;" class="full-width">
              <tr>
                <td align="center">
                  <p style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;margin: 0px;color: #000000; font-size: 18px; line-height: 23px;">
                      
					  No te pierdas la  <strong style="color:#00175A;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;white-space: nowrap;"> F1 Crypto.comâ¯Miami Grand Prix</strong> <br class="mobile-off"> del 1 al 3 de mayo de 2026. Viv&iacute; este campeonato <br class="mobile-off"> &uacute;nico en el Aut&oacute;dromo Internacional de Miami, ubicado <br class="mobile-off"> en el Hard Rock Stadium, con una longitud de 5,41 km, <br class="mobile-off"> 19 curvas, tres rectas y tres zonas DRS, con una velocidad <br class="mobile-off"> m&aacute;xima estimada de 320 km/h. 
					  
                      
                    </p>
                    
                </td>
              </tr>
                <tr>
                    <td align="center" valign="top" style="padding: 26px 0 0;">
                        <img src="https://mailing.design/amex/PP-F1-Miami-Preventa-PLAT-oct25/images/2310-PP-F1-Miami-Presale-PLAT-oct25_06.jpg" alt="F1&reg; | AMEX - Tarjeta Oficial de Formula 1" width="293" style="height: auto; color: #333333;display: block;">
                    </td>    
                </tr> 
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END: HB16-v4.2 Image Background Split -->
              
              