   
           
<!-- START: ID=HB08-v4.2 50-50 -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%" dir="rtl" style="direction: ltr; width: 100%;">
	<tr>
	  <th class="full-width-auto pd40" width="350" style="direction: ltr; padding: 0px 0px; width: 350px;background: #00175A;font-weight: normal;" align="center" valign="middle">
		<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
		  <tr>
              <td width="100%" align="center" style="padding:0px 0px 0;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 16px;line-height: 19px;color:#FFFFFF;letter-spacing: 0px;">
                  
                  Record&aacute; que <strong style="color:#FFFFFF;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">pagando con puntos <br class="mobile-off"> <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-weight:bold;white-space: nowrap;">Membership Rewards<span style="font-size:8px;line-height:8px;vertical-align:8px;font-weight: normal;">&reg;2</span>,</strong></strong> o combinando <br class="mobile-off"> puntos + pesos, en <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-weight:normal;white-space: nowrap;">The Blue Box Market<span style="font-size: 8px;line-height: 8px;vertical-align: 7px">&trade;</span></strong> <br class="mobile-off"> <strong style="color:#FFFFFF;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">los puntos valen m&aacute;s.</strong>
                  
                  
              </td>
            </tr>
            
            <tr>
               <td align="center" style="padding: 17px 0 0;">
                <table class="Tbl100" width="" role="none" cellpadding="0" cellspacing="0" border="0" dir="ltr" style="direction: ltr; max-width:100%">
                 <tr>
                     <td align="center" style="padding: 15px 0px; color: #FFFFFF; cursor: auto; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 20px; line-height: 23px; letter-spacing: 0px;border-top: 1px solid #007ED6;border-bottom: 1px solid #007ED6;">
                         <strong>1 PUNTO = $5 ARS<span style="font-size:9px;line-height:8px;vertical-align:11px;font-weight: normal;">3</span></strong>
                     </td> 
                 </tr>
                

                </table>
               </td>
              </tr>
            
            
		</table>
		
	  </th>
	  <th class="full-width-block" width="270" style="direction: ltr; width: 270px;" align="center" valign="middle">
		<img src="https://mailing.design/amex/MR-MFF-Osaka-DIC25/images/MR-MFF-Osaka-Dic25_15.jpg" alt="*" width="270" style="display: block; width: 270px;height:auto;color: #333333;" class="full-width-block">
	  </th>
	</tr>
  </table>
<!-- END: HB08-v4.2  50-50 -->
                        
                               
              