     
              
    <!-- START: HB15-v4.2 Full Width Hero -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
  <!-- Hero Banner Top Image -->
  <tr>
    <td>
      <!--<img src="https://placehold.co/620x220.png" alt="Alt Text" width="100%" style="display: block; vertical-align: top; height:auto; color: #3D3D3D;">-->
        <span class="mobile-off">
          <img src="https://mailing.design/amex/PP-Diderot-Nov25-ICS/images/181125-PP-Diderot-Nov25-ICS_04.jpg" alt="Obra de Federico Kirschbaum." title="Obra de Federico Kirschbaum" width="100%" style="vertical-align: top; height:auto; color: #333333;">
        </span>
        <span class="mobile-on" style="display: none;">
          <img src="https://mailing.design/amex/PP-Diderot-Nov25-ICS/images/181125-PP-Diderot-Nov25-ICS_04mbl.jpg" alt="Obra de Federico Kirschbaum." title="Obra de Federico Kirschbaum" width="100%" style="vertical-align: top; height: auto; color: #333333" />
        </span>
       
    </td>
  </tr>
  <tr>
    <td align="center" style="padding: 0px;">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
              <td width="100%" align="center" bgcolor="#00175a" style="padding: 36px 10px;background-color: #00175a;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 24px;line-height: 27px;color:#FFFFFF;">
                  <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">
					  Sum&aacute; arte a tu hogar.
                  </strong>
              </td>
          </tr>
          <tr>
              <td width="100%" align="center" style="padding: 35px 20px 0px;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 18px;line-height: 23px;color:#333333;letter-spacing:0px">
                  
				  Descubr&iacute; piezas que transforman espacios y cuentan <br class="mobile-off"> qui&eacute;n sos con <strong style="color:#006fce;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">beneficios &uacute;nicos</strong> en <a href="https://www.diderot.art/" target="_blank" style="text-decoration: none;border:none;outline:0;"><strong style="color:#333333;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-weight: normal;">Diderot.Art.</strong></a>
                  
                </td>
            </tr>	
            <tr>
              <td align="center" valign="top" style="padding: 40px 0 50px;">
                <a href="https://www.diderot.art/" target="_blank" style="text-decoration: none;border:none;outline:0;"><img src="https://mailing.design/amex/PP-Diderot-Nov25-ICS/images/181125-PP-Diderot-Nov25-ICS_23.jpg" alt="DIDEROT.ART. El arte llega a vos" width="280" style="height: auto; color: #333333;display: block;"></a>
              </td>
            </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END: HB15-v4.2 Full Width Hero -->
            
                 