<!-- START: HB15-v4.2 Full Width Hero -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
  <!-- Hero Banner Top Image -->
  <tr>
    <td>
        <span class="hideMbl">
          <img src="https://mailing.design/amex/PP-Travel-value-prop-DIC25-PLAT/images/231225-PP-Travel-value-prop-DIC25-PLAT_04.jpg" alt="Viajes &uacute;nicos de principio a fin." width="100%" style="vertical-align: top; height:auto; color: #333333;">
        </span>
        <span class="showMbl" style="display: none;">
          <img src="https://mailing.design/amex/PP-Travel-value-prop-DIC25-PLAT/images/231225-PP-Travel-value-prop-DIC25-PLAT_04mbl.jpg" alt="Viajes &uacute;nicos de principio a fin." width="100%" style="vertical-align: top; height: auto; color: #333333" />
        </span>
       
    </td>
  </tr>
  <tr>
    <td align="center" style="padding: 0px;">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
              <td width="100%" align="center" bgcolor="#5d6165" style="padding: 30px 20px;background-color: #5d6165;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 24px;line-height: 27px;color:#FFFFFF;">
                  <strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;"> Viajes &uacute;nicos <br class="mobile-on" style="display: none" /> de principio a fin. </strong>
              </td>
          </tr>
          <tr>
              <td width="100%" align="center" style="padding: 37px 20px;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;font-size: 18px;line-height: 25px;color:#333333;letter-spacing:0px">
                  
                  Disfrut&aacute; de una experiencia superior en cada viaje. <strong style="color:#00175A;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">Salones VIP  <br class="mobile-off">  en aeropuertos, estacionamiento sin cargo y m&aacute;s beneficios  <br class="mobile-off">  exclusivos</strong> que hacen la diferencia en cada trayecto.
                  
                </td>
            </tr>
           
      </table>
    </td>
  </tr>
</table>
<!-- END: HB15-v4.2 Full Width Hero -->
            