<!-- START: TM01-v4.2 Section Header -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%" style="background:#006FCF">
  <tr>
    <td bgcolor="#006FCF" width="620" align="center" valign="middle" style="width: 620px;padding: 25px 0px;">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="auto" >
          <tr>
              <td valign="middle" style="padding: 0 10px 0 0">
               <img src="https://mailing.design/amex/CORP-Travel-Octubre25/images/2810-CORP-Travel-Octubre25_04.png" alt="VIAJES" width="40" height="auto" style="color: #000000; display: block" />
              </td>
              <td valign="middle" style="padding: 0px">
               <h2 style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; color: #ffffff; font-size: 20px; line-height: 23px"><strong style="font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">VIAJES</strong></h2>
              </td>
          </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END: TM01-v4.2 Section Header -->             
              