                       
                    
  <!-- START: ID=TM04-v4.2 Offer Code -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#00175A" style="background: #00175A;">
  <tr>
    <td style="padding: 35px 0px;">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
          <tr>
             <td width="100%" align="center" style="padding: 0px; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size: 18px; line-height: 21px; color: #FFFFFF;">
             Descubr&iacute; todos los beneficios <a href="https://www.americanexpress.com/es-ar/beneficios/promociones/" target="_blank" style="border:none;outline:0;text-decoration:underline;color:#ffffff;word-wrap: break-word;word-break: break-all;"><strong style="text-decoration:underline;border:none;outline:0;font-weight: bold;font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif;">ac&aacute;</strong></a>
              </td>
          </tr> 
          <tr>
             <td width="100%" align="center" style="padding: 24px 0px 0px; font-family: HelveticaNeue, Helvetica Neue Regular, Helvetica, Arial, sans-serif; font-size: 10px; line-height: 12px; color: #FFFFFF;">
             BENEFICIOS NO V&Aacute;LIDOS PARA PAGOS REALIZADOS <br class="mobile-on" style="display: none;"> A TRAV&Eacute;S DE PLATAFORMAS DE PAGO Y/O AGREGADORES. 
              </td>
            </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END: TM04-v4.2 Offer Code -->            
              
       