    
<!-- START: Consumer Default-v4.2 -->
<table role="none" cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#FFFFFF">
  <tr>
    <td  style="border-bottom: solid 1px#d9d9d7;padding:20px;" class="pd10">
      <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
        <tr>
          <td valign="top" width="137" style="width: 137px;">
            <table role="none" cellpadding="0" cellspacing="0" border="0" width="100%">
              <tr>
                <td width="60" style="width: 60px;" class="bp-logo">
                  <a href="http://www.americanexpress.com.ar" target="_blank">
                    <img src="https://mailing.design/amex/CORP-Shot-deporte-DIC25/images/091225-CORP-Shot-deporte-DIC25_01.jpg" alt="American Express, opens a new tab" width="60" style="width:60px;height:auto;color:#3D3D3D;"  class="bp-logo">
                  </a>
                </td>
                <td class="Slogn" width="150" style="padding-left: 10px" >
                  <a href="http://www.americanexpress.com.ar" target="_blank">
                    <img src="https://mailing.design/amex/CORP-Shot-deporte-DIC25/images/091225-CORP-Shot-deporte-DIC25_02.jpg" alt="No hagas negocios sin ella" width="150" style="width:150px;height:auto;color:#3D3D3D;">
                  
                  </a>
                </td>
              </tr>
            </table>
          </td>
          <td align="right" valign="top">&nbsp;
            
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
</table>
<!-- END: Consumer Default-v4.2 -->  
              
              
                    
                    